# IAR C-STAT and C-RUN
# Comment this out if you use C-Stat or C-Run to compile/analyze your project
*.ewt

# IAR Debugger files
*.ewd

# IAR Workspace files
*.eww

# IAR Settings
settings/
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos
settings/*.dnx
**/settings/**

# IAR Debug Exe
# IAR Debug List do not need
/Debug/BrowseInfo
/Debug/List 
/Debug/Obj
/Debug/Exe/*.sim
/Debug/*.ninja_log
/Debug/*.ninja_deps
/Debug/Exe/*.ninja_log
/Debug/Exe/*.ninja_deps
/Debug/Exe/*.out
/Debug/*.stamp
/Debug/Exe/*.bat
# IAR Debug Obj
**/BrowseInfo/*.pbd
**/BrowseInfo/*.pbd.*
**/BrowseInfo/*.pbi
**/BrowseInfo/*.pbi.*

# Log files
**.log

# IAR backup files
Backup*

# IAR .dep files
*.dep

# Compiled Binaries
#*.bin
#*.elf
#*.hex
#*.map

# Trash files
*.bak

middleware/TivaWare_C_Series-2.2.0.295